.sidebar {
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  background-color: white;
  width: 72px;
  line-height: 24px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link {
  background-color: white;
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-link:hover {
  background-color: rgb(225, 225, 225);
  cursor: pointer;
}

.sidebar-link img {
  height: 24px;
}

.sidebar-link div {
  display: block;
  font-size: 10px; 
}